@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}

.prof-img-container {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  outline: #3ba5dc solid 3px;
  transform: translateY(-85px);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.img-container {
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.gradient {
  background: rgb(188,0,255);
  background: linear-gradient(90deg, rgba(188,0,255,1) 0%, rgba(230,81,255,1) 100%);
}
.site-font {
  font-family: 'Roboto', sans-serif;
}

.btn-outline-custom {
    color: rgb(202, 0, 202)!important;
    border-color: rgb(202, 0, 202)!important;
}

.gradient-text {
  background-color: #6c0070;
  background-image: linear-gradient(45deg, rgb(202, 0, 202) 0%, rgb(228, 75, 255) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
.gradient-text2 {
  background-color: #b000b6;
  background-image: linear-gradient(45deg, rgb(255, 0, 255) 0%, rgb(255, 0, 106) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }
  
  .scrollbar-ripe-malinka::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); }
  
  .scrollbar-ripe-malinka {
  scrollbar-color: #f5576c #F5F5F5;
  }

  .card-sprints {
    background: #F5F5F5;
    outline:rgb(202, 0, 202)solid 2px;
  }